/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.custom-text-heading{
    font-family: 'Poppins';
    font-weight: 800;
}


/* image opacity for image slider  */

.img-opacity{
    opacity: 0.7;
}

.custom-badge{
    margin-left: 230px;
    
}

.fa-check-circle{
     
    font-size: 20px;
    color:tomato;
    background-color: transparent;    
}

.custom-fav{
    color: whitesmoke;
}

.custom-bg-card{
    background-color: tomato;
    border-radius: 30px;
    padding: 10px;
    color: white;

}



